__pycache__/
*.py[cod]
*$py.class

*.so

venv/
.env
.env.*

.pytest_cache/

.mypy_cache/

.idea/
.vscode/
*.swp

alembic/versions/

celerybeat-schedule
celerybeat-schedule.*
*.pid

dump.rdb

*.log

coverage/
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
tests/__pycache__/
tests/.pytest_cache/

.DS_Store
Thumbs.db
